<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.css">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="/static/admin.js"></script>
  </head>
  <body ng-app="adminApp">
    <div ng-controller="ServerController as sc" class="container-fluid">
      <h2>Exchanges</h2>
      <div class="panel panel-default" ng-repeat="(name, exchange) in server.exchanges">
        <div class="panel-heading">
          <span class="label label-info">"{{name}}"</span>
          <span ng-if="name == ''">(default exchange)</span>
          — Type: {{exchange.type}}
        </div>

        <div class="panel-body" ng-if="exchange.bindings.length > 0">
          <h4>Bindings</h4>
          <table class="table table-striped" >
            <tr>
              <th>Queue</th>
              <th>Key</th>
            </tr>
            <tr ng-repeat="(index, binding) in exchange.bindings">
              <td>{{binding.queueName}}</td>
              <td>{{binding.key}}</td>
            </tr>
          </table>
        </div>
      </div>
      <h2>Queues</h2>
      <div class="panel panel-default" ng-repeat="(name, queue) in server.queues">
        <div class="panel-heading">
          {{name}}
          <span ng-if="queue.exclusive">
            (exclusive: {{queue.connId}})
          </span>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tr>
              <th>Tag</th>
              <th>Ack?</th>
              <th>QoS</th>
              <th>Active</th>
              <th>Lifetime</th>
            </tr>
            <tr ng-repeat="consumer in queue.consumers">
              <td>{{consumer.tag}}</td>
              <td>{{consumer.ack}}</td>
              <td>{{consumer.stats.qos}}</td>
              <td ng-if="consumer.ack">{{consumer.stats.active_count}}</td>
              <td ng-if="!consumer.ack">N/A</td>
              <td>{{consumer.stats.total}}</td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          Num Consumers: {{queue.consumers.length}},
          Queue length: {{queue.size}}
        </div>
      </div>

      <h2>Connections</h2>
      <div class="panel panel-default" ng-repeat="(id, conn) in server.connections">
        <div class="panel-heading">
          id: {{id}} – addr: {{conn.address}} — {{conn.channelCount}} channels active
        </div>
        <div class="panel-body">
          <h4>Client Properties</h4>
          <table class="table table-striped">
            <tr>
              <th>name</th>
              <th>value</th>
            </tr>
            <tr ng-repeat="(name, value) in conn.clientProperties">
              <td>{{name}}</td>
              <td>{{value}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>